<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <% if current_company.present? %>
      <%= link_to t('app_name'), branches_path, class:"navbar-brand button-color app-title" %>
    <% else %>
      <%= link_to t('app_name'), root_path, class:"navbar-brand button-color app-title"%>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="navbar-left">
        <ul class="navbar-nav">
        　<!-- 企業がログインしている時　-->
          <% if current_company.present? %>
           <li class="nav-item"><%= link_to t('activerecord.attributes.link.logout'),destroy_company_session_path, method: :delete, class:"nav-link" %></li>

          <!-- スタッフがログインしている時　-->
          <% elsif current_staff.present? %>
            <li class="nav-item"> <%= link_to t('activerecord.attributes.link.logout'),destroy_staff_session_path, method: :delete, class:"nav-link" %></li>
            <li class="nav-item"><%= link_to t('activerecord.attributes.company.user_page'), users_path, class:"nav-link" %></li>
            <li class="nav-item"><%= link_to t('activerecord.attributes.company.staff_page'), staffs_path, class:"nav-link" %></li>
            
         
         <!-- ユーザーがログインシている時　-->
          <% elsif current_user.present? %>
            <li class="nav-item"> <%= link_to t('activerecord.attributes.link.logout'),destroy_user_session_path, method: :delete, class:"nav-link" %></li>
          
          <% else %>
            <li class="nav-item"><%= link_to t("activerecord.attributes.company.signin"), new_company_registration_path, class:"nav-link" %></li>

            <li class="nav-item"><%= link_to t('activerecord.attributes.link.login'), new_user_session_path, class:"nav-link" %></li>
          <% end %>
        </ul>
      </div>

      <!-- ログイン・アカウント -->
      <div class="navbar-right">
        <ul class="navbar-nav">
          <!-- 言語設定-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t('activerecord.attributes.language.setting') %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to t('activerecord.attributes.language.japanese'), locale_path(locale: "ja"), class:"dropdown-item" %>
              <%= link_to t('activerecord.attributes.language.english'), locale_path(locale: "en"), class:"dropdown-item" %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

